//Variables de colores:
$colorHeader: #321F28;
$colorSection:#E2C275;
$colorClaro: #b8b8b8;
$colorOscuro: #b3a7a7;
$colorClaroOnline: #1f1d1d;
$colorOscuroOnline: #141313;
$botonPrimario: #3d2832;
$botonPrimarioEncendido:#725262;
$botonSecundario: #472b38;
$botonSecundarioEncendido: #ebf8a0;
$ColorFondoError: #f35e5e;