//Variables de colores:
$colorHeader: #321F28;
$colorSection:#E2C275;




$botonIS: #734046;
$botonISencendido: #7c6265;
$segundoColor: #043a0d;
$segundoColorEncendido: #0dc4ab;
$tercerColor: #1d5f2e;
$tercerColorEncendido: #5daf70;
$cuartoColor: #949613;
$cuartoColorEncendido: #e6e77f;
$colorMain: #d1deec;