//Variables de colores:
$colorHeader: #321F28;





$primerColor: #075525;
$primerColorEncendido: #129247;
$segundoColor: #043a0d;
$segundoColorEncendido: #0dc4ab;
$tercerColor: #1d5f2e;
$tercerColorEncendido: #5daf70;
$cuartoColor: #949613;
$cuartoColorEncendido: #e6e77f;
$colorMain: #d1deec;