//header, footer, nav, section:
@import "_colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Vollkorn:wght@400;600&display=swap');
html, body{
    height: 100%;
}

header{
    background-color: $colorHeader;
    height: 20%;
}


section{
    background-color: $colorSection;
    height: 70%;
}

.sectionIndex{
    background-image: url('../Img/Generales/fondo.png');
    height: 70%;
}

.sectionEditor{
    background-image: url('../Img/Generales/fondoEditor.jpg');
    height: 70%;
    background-size: cover;
}

.sectionAdmin{
    background-image: url('../Img/Generales/fondoAdmin.jpg');
    height: 70%;
    background-size: none;
}

form{
    font-family: 'Bitter', serif;
    position: relative;
}


fieldset{
    padding: 3px 10px;
    border: #321F28 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}


.fondoFieldset{
    background-color: lightpink;
}

.alineado{
    display: inline-block;
    width: 80px;
}

footer{
    height:10%;
    line-height:50px;
    background:$colorHeader;
    color:white;
    text-align:center;
    bottom:0;
    left:0;
    width:100%;
}

.etiquetaEnigma{
    background-color: rgb(177, 194, 204);
    color: black;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.etiquetaAdmin{
    background-color: rgb(177, 194, 204);
    color: black;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.fondoRegistro{
    background-image: url('../Img/Generales/fondoRegistro.jpg');
    height: 70%;
    background-size: none;
}

.fondoFieldsetRegistro{
    background-color:#c9e1f3;
}