@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700&display=swap");

//Para las P y las H, poner dos tipos diferentes de letra.
p{
    font-family: Verdana;
    color: black;
}


@for $i from 1 through 6{
    h#{$i} {
        font-family: 'Vollkorn', italic;
        font-size: 2rem * (1.7/$i);
        color: #E2C275;
    }
}

p >a:hover {
    color: #753422;
}
